{
    "predicates": [
      {
        "and": [
          {
            "equals": {
              "method": "GET"
            }
          },
          {
            "matches": {
              "path": "/getAddress",
              "headers": {
                "requester" : "[a-zA-Z]"
              },
              "query" : {
                "name": "[a-zA-Z ]"
              }
            }
          }
        ]
      }
    ],
    "responses": [
      {
        "is": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "name": "MB Test",
            "address1" : "9 Ratchadaphisek Road",
            "zip_code" : "10900",
            "province" : "Bangkok"
          }
        },
        "_behaviors": {
            "decorate": "<%- stringify(filename, './address/get_address/success_responses_decoration.ejs') %>"
        }
      }
    ]
  }