{
    "imposters": [
        {
          "port": "2204",
          "protocol": "http",
          "name": "scbconnect_mock_example",
          "stubs": [
            <% include ./address/address_services.ejs %>
          ]
      }
    ]
  }